{% extends 'news/base.html' %}
{% load static %}

{% block title %}Добавить клуб{% endblock %}

{% block content %}
<h2>Добавить клуб</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn" style="background-color:#003366; color:#fff; font-weight:500;">Добавить</button>
</form>
<a href="{% url 'clubs_list' %}" class="btn" style="background-color:#003366; color:#fff; font-weight:500;">Назад к клубам</a>
{% endblock %}
